@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    white-space: pre-wrap;
    overflow: hidden;
     text-overflow:ellipsis;
     word-wrap:break-word;
}

star{
	color: red;
}
text-error {
    color:red;
}
.Banner {
	width: 100%;
	border-style: none;
}
.container {
    border-radius: 5px;
    padding: 20px;
}
.col-10{
	float: left;
	width: 10%;
	margin-top: 6px;
}
.col-15 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-65 {
    float: left;
    width: 65%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.lineSpace{
  margin-top: 10px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-15, .col-65, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
	.col-10{
	width: 0%;
	}
}

