<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Form</title>
    <script src="jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="css/Form-css.css">
    <link rel="stylesheet" type="text/css" href="css/menu-bar-css.css">
    <link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link href="dist/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="dist/js/bootstrap-datepicker-custom.js"></script>
    <script src="dist/locales/bootstrap-datepicker.th.min.js" charset="UTF-8"></script>
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayBtn: true,
                language: 'th',             //เปลี่ยน label ต่างของ ปฏิทิน ให้เป็น ภาษาไทย   (ต้องใช้ไฟล์ bootstrap-datepicker.th.min.js นี้ด้วย)
                thaiyear: true              //Set เป็นปี พ.ศ.
            }).datepicker("setDate", "0");  //กำหนดเป็นวันปัจุบัน
        });
    </script>
    </head>
    <body style="font-family:Verdana;">
<!--  Banner -->
<div class="Banner" style="background-color:#f1f1f1;padding:15px;">
      <h1>Banner web</h1>
    </div>
<!--  menu -->
<ul>
      <li><a class="active" href="./form.html">Form</a></li>
      <li><a href="./all-case.html">All Case</a></li>
      <li><a href="#">Report</a></li>
    </ul>
<!--  container -->
<div class="container" >
      <h3>แบบฟอร์มการอใช้บริการ</h3>
      <h5>Project Detail</h5>
      <form action="/form#" th:action="@{/form}" th:object="${requestForm}" method="post">
    <div class="row">
          <div class="col-10"></div>
          <div class="col-15">
        <label for="pId">Project ID</label>
      </div>
          <div class="col-65">
        <input type="text" id="pId" name="projectId">
      </div>
        </div>
    <div class="row">
          <div class="col-10"></div>
          <div class="col-15">
        <label for="pName">Project Name
              <star>*</star>
            </label>
      </div>
          <div class="col-65">
        <input type="text" id="pName" name="projectName" th:field="*{projectName}">
      </div>
        </div>
    <div class="row">
          <div class="col-10"></div>
          <div class="col-15">
        <label for="country">Significant Level</label>
      </div>
          <div class="col-65">
        <select id="significantLevel" name="significantLevel">
              <option value="PS">PS</option>
              <option value="P1">P1</option>
              <option value="P2">P2</option>
              <option value="P3">P3</option>
              <option value="U1">U1</option>
              <option value="U2">U2</option>
              <option value="U3">U3</option>
            </select>
      </div>
        </div>
    <div class="row">
          <div class="col-10"></div>
          <div class="col-15">
        <label for="country">Requset Type</label>
      </div>
          <div class="col-65">
        <select id="requsetType" name="requsetType">
              <option value="New">New</option>
              <option value="modify">Modify</option>
              <option value="Enhance">Enhance</option>
            </select>
      </div>
        </div>
    <div class="row">
          <div class="col-10"></div>
          <div class="col-15">
        <label for="contact">Contact
              <star>*</star>
            </label>
      </div>
          <div class="col-65">
        <input id="contact" name="contact" type="text">
      </div>
        </div>
    <div class="row">
          <div class="col-10"></div>
          <div class="col-15">
        <label for="phone">Phone
              <star>*</star>
            </label>
      </div>
          <div class="col-65">
        <input id="phone" name="phone" type="text">
      </div>
        </div>
    <div class="row">
          <div class="col-10"> </div>
          <div class="col-15">
        <label for="objective">Objective</label>
      </div>
          <div class="col-65">
        <textarea id="object" name="objective" style="height:80px"></textarea>
      </div>
        </div>
    <h3>Application Information</h3>
    <div class="row">
          <div class="col-10"> </div>
          <div class="col-15">
        <label for="urk">URL</label>
      </div>
          <div class="col-65">
        <input id="url" name="url" type="text">
      </div>
        </div>
    <div class="row">
          <div class="col-10"> </div>
          <div class="col-15">
        <label for="env">Env. For Load Test</label>
      </div>
          <div class="col-25">
        <select id="env" name="env" >
              <option value="Test">Test</option>
              <option value="Developing">Developing</option>
              <option value="Staging">Staging</option>
              <option value="Production">Production</option>
            </select>
      </div>
          <div class="col-tab-5"></div>
          <div class="col-10">
        <label for="envDetail">Detail</label>
      </div>
          <div class="col-25">
        <input id="envDetail" name="envDetail" type="text">
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"> </div>
          <div class="col-15">
        <label for="language">Language/Protocal</label>
      </div>
          <div class="col-25">
        <select id="language" name="language" >
              <option value="Java">Java</option>
              <option value=".Net">.Net</option>
              <option value="HTML">HTML</option>
              <option value="WebService">Webservice</option>
            </select>
      </div>
          <div class="col-tab-5"></div>
          <div class="col-10">
        <label for="langnageDetail">Detail</label>
      </div>
          <div class="col-25">
        <input id="langnageDetail" name="langnageDetail" type="text">
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label for="browser">Browser Support</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>Internet Exproler</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>FireFox</label>
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label for="sucurity">Sucurity </label>
      </div>
          <div class="col-25">
        <select id="sucurity" name="sucurity" >
              <option value="SSL 2.x">SSL 2.x</option>
              <option value="SSL 3.x">SSL 3.x</option>
              <option value="TLS 1.0">TLS 1.0</option>
            </select>
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label>SystemImpact</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>F5</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>LDAP</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>Firewall</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>Proxy</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>AD</label>
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15"></div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>SFF</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>Siebel</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>SAP</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>EAI</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>IVR/USSD</label>
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15"></div>
          <div class="col-5">
        <label>ETC</label>
      </div>
          <div class="col-25">
        <input id="systemImpactETC" name="systemImpactETC" type="text">
      </div>
        </div>
    <h3>Load Test : User Conurrent</h3>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label>Impact Assessment(User ที่ใช้งานระบบ) </label>
      </div>
          <div class="col-25">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>External Impacts(Extenal User)</label>
      </div>
          <div class="col-25">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>Organization Impacts(In House)</label>
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label for="userConcurrent">User Concurrent
              <star>*</star>
            </label>
      </div>
          <div class="col-65">
        <input id="userConcurrent" name="userConcurrent" type="text">
      </div>
        </div>
    <h3>Load Test : SLA</h3>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label for="respondTime">Respond Time</label>
      </div>
          <div class="col-65">
        <input id="respondTime" name="respondTime" type="text">
      </div>
        </div>
    <h3>Load Test : Scenario</h3>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label>Test Scenarios</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>Load Test</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>Stress Test</label>
      </div>
          <div class="col-15">
        <label>
              <input type="checkbox">
              <span class="checkmark"></span>Reeliabbility Test</label>
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15"></div>
          <div class="col-25">
        <label for="testScenariosDetail">Detail</label>
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15"></div>
          <div class="col-65">
        <textarea id="testScenariosDetail" name="testScenariosDetail" style="height:80px"></textarea>
      </div>
        </div>
    <h3>Load Test : Date</h3>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label>On Test/Staging Deploy</label>
      </div>
          <div class="col-65">
        <input id="onTest" class="datepicker" data-date-format="mm/dd/yyyy">
        <!--        <input id="onTest" name="onTest" type="text">--> 
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label>Traget Finish Date</label>
      </div>
          <div class="col-65"> 
        <!--        <input id="finishDate" name="finishDate" type="text">-->
        <input id="finishDate" class="datepicker" data-date-format="mm/dd/yyyy">
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label for="remark">Remark</label>
      </div>
          <div class="col-65">
        <textarea id="remark" name="remark" style="height:80px"></textarea>
      </div>
        </div>
    <div class="row">
          <input type="submit" value="Submit">
        </div>
  </form>
    </div>
<!--  footer -->
<div style="background-color:#f1f1f1;text-align:center;padding:10px;margin-top:7px;font-size:12px;">
      <div>
    <h3> contact us </h3>
    <div> Email : nattapoo@ais.co.th </div>
    <div> phone : 02-2222222 </div>
  </div>
    </div>
</body>
</html>