<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Form</title>
    <script src="jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="css/Form-css.css" th:href="@{/css/Form-css.css}">
    <link rel="stylesheet" type="text/css" href="css/menu-bar-css.css" th:href="@{/css/menu-bar-css.css}">
    <link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}" />
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js" th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.js}"></script>
    <link href="dist/css/bootstrap-datepicker.css" rel="stylesheet" th:href="@{/dist/css/bootstrap-datepicker.css}"/>
    <script src="dist/js/bootstrap-datepicker-custom.js" th:src="@{/dist/js/bootstrap-datepicker-custom.js}"></script>
    <script src="dist/locales/bootstrap-datepicker.en-GB.min.js" charset="UTF-8"></script>
    <script th:inline="javascript">
         $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayBtn: true
            }).datepicker("setDate", "0");  //กำหนดเป็นวันปัจุบัน
        });
    </script>
    </head>
    <body style="font-family:Verdana;">
<!--  Banner -->
<div class="Banner" style="background-color:#f1f1f1;padding:15px;">
      <h1>Banner web</h1>
    </div>
<!--  menu -->
<ul>
      <li><a class="active" href="./form">Form</a></li>
      <li><a href="./all-case">All Case</a></li>
      <li><a href="#">Report</a></li>
    </ul>
<!--  container -->
<div class="container" >
      <h3>แบบฟอร์มการอใช้บริการ</h3>
      <h5>Project Detail</h5>
      <form action="/form#" th:action="@{/form}" th:object="${requestForm}" method="post">
          <input type="hidden" id="id" name="id" th:field="*{id}">
    <div class="row">
          <div class="col-10"></div>
          <div class="col-15">
        <label for="pId">Project ID</label>
      </div>
          <div class="col-65">
        <input type="text" id="pId" name="projectId" th:field="*{projectId}">
      </div>
        </div>
    <div class="row">
          <div class="col-10"></div>
          <div class="col-15">
        <label for="pName">Project Name
              <star>*</star>
            </label>
      </div>
          <div class="col-65">
        <input type="text" id="pName" name="projectName" th:field="*{projectName}">
      </div>
        </div>
    <div class="row">
          <div class="col-10"></div>
          <div class="col-15">
        <label for="country">Significant Level</label>
      </div>
          <div class="col-65">
        <select id="significantLevel" name="significantLevel" th:field="*{significantLevel}">
              <option value="PS">PS</option>
              <option value="P1">P1</option>
              <option value="P2">P2</option>
              <option value="P3">P3</option>
              <option value="U1">U1</option>
              <option value="U2">U2</option>
              <option value="U3">U3</option>
            </select>
      </div>
        </div>
    <div class="row">
          <div class="col-10"></div>
          <div class="col-15">
        <label for="country">Requset Type</label>
      </div>
          <div class="col-65">
        <select id="requsetType" name="requsetType" th:field="*{requestType}">
              <option value="New">New</option>
              <option value="modify">Modify</option>
              <option value="Enhance">Enhance</option>
            </select>
      </div>
        </div>
    <div class="row">
          <div class="col-10"></div>
          <div class="col-15">
        <label for="contact">Contact
              <star>*</star>
            </label>
      </div>
          <div class="col-65">
        <input id="contact" name="contact" type="text" th:field="*{contact}">
      </div>
        </div>
    <div class="row">
          <div class="col-10"></div>
          <div class="col-15">
        <label for="mobilePhone">Phone
              <star>*</star>
            </label>
      </div>
          <div class="col-65">
        <input id="mobilePhone" name="mobilePhone" type="text" th:field="*{mobilePhone}">
      </div>
        </div>
    <div class="row">
          <div class="col-10"> </div>
          <div class="col-15">
        <label for="objective">Objective</label>
      </div>
          <div class="col-65">
        <textarea id="objective" name="objective" th:field="*{objective}" style="height:80px"></textarea>
      </div>
        </div>
    <h3>Application Information</h3>
    <div class="row">
          <div class="col-10"> </div>
          <div class="col-15">
        <label for="url">URL</label>
      </div>
          <div class="col-65">
        <input id="url" name="url" type="text" th:field="*{url}">
      </div>
        </div>
    <div class="row">
          <div class="col-10"> </div>
          <div class="col-15">
        <label for="env">Env. For Load Test</label>
      </div>
          <div class="col-25">
        <select id="env" name="env" th:field="*{env}">
              <option value="Test">Test</option>
              <option value="Developing">Developing</option>
              <option value="Staging">Staging</option>
              <option value="Production">Production</option>
            </select>
      </div>
          <div class="col-tab-5"></div>
          <div class="col-10">
        <label for="envDetail">Detail</label>
      </div>
          <div class="col-25">
        <input id="envDetail" name="envDetail" th:field="*{envDetail}" type="text">
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"> </div>
          <div class="col-15">
        <label for="languageDev">Language/Protocal</label>
      </div>
          <div class="col-25">
        <select id="languageDev" name="languageDev" th:field="*{languageDev}">
              <option value="Java">Java</option>
              <option value=".Net">.Net</option>
              <option value="HTML">HTML</option>
              <option value="WebService">Webservice</option>
            </select>
      </div>
          <div class="col-tab-5"></div>
          <div class="col-10">
        <label for="langnageDevDetail">Detail</label>
      </div>
          <div class="col-25">
        <input id="langnageDevDetail" name="langnageDevDetail"  th:field="*{languageDevDetail}" type="text">
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label for="browser">Browser Support</label>
      </div>
          <div class="col-15">
        <label>
              <input id="browserIe" name="browserIe"  type="checkbox" th:field="*{browserIe}" th:value="${browserIe}">
              Internet Exproler</label>
      </div>
          <div class="col-15">
        <label>
              <input id="browserFirefox" name="browserFirefox"  type="checkbox" th:field="*{browserFirefox}" th:value="${browserFirefox}">
              FireFox</label>
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label for="sucurity">Sucurity </label>
      </div>
          <div class="col-25">
        <select id="securitySupport" name="securitySupport" th:field="*{securitySupport}">
              <option value="SSL 2.x">SSL 2.x</option>
              <option value="SSL 3.x">SSL 3.x</option>
              <option value="TLS 1.0">TLS 1.0</option>
            </select>
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label>SystemImpact</label>
      </div>
          <div class="col-15">
        <label>
              <input id="systemImpactF5" name="systemImpactF5"  type="checkbox" th:field="*{systemImpactF5}">
              F5</label>
      </div>
          <div class="col-15">
        <label>
              <input id="systemImpactLdap" name="systemImpactLdap"  type="checkbox" th:field="*{systemImpactLdap}">
              LDAP</label>
      </div>
          <div class="col-15">
        <label>
              <input id="systemImpactFirewall" name="systemImpactFirewall"  type="checkbox" th:field="*{systemImpactFirewall}">
              Firewall</label>
      </div>
          <div class="col-15">
        <label>
              <input id="systemImpactProxy" name="systemImpactProxy"  type="checkbox" th:field="*{systemImpactProxy}">
              Proxy</label>
      </div>
          <div class="col-15">
        <label>
              <input id="systemImpactAd" name="systemImpactAd"  type="checkbox" th:field="*{systemImpactAd}">
              AD</label>
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15"></div>
          <div class="col-15">
        <label>
              <input id="systemImpactSff" name="systemImpactSff"  type="checkbox" th:field="*{systemImpactSff}">
              SFF</label>
      </div>
          <div class="col-15">
        <label>
              <input id="systemImpactSeibel" name="systemImpactSiebel"  type="checkbox" th:field="*{systemImpactSiebel}">
              Siebel</label>
      </div>
          <div class="col-15">
        <label>
              <input id="systemImpactSap" name="systemImpactSap"  type="checkbox" th:field="*{systemImpactSap}">
              SAP</label>
      </div>
          <div class="col-15">
        <label>
              <input id="systemImpactEai" name="systemImpactEai"  type="checkbox" th:field="*{systemImpactEai}">
              EAI</label>
      </div>
          <div class="col-15">
        <label>
              <input id="systemImpactIvr" name="systemImpactIvr"  type="checkbox" th:field="*{systemImpactIvr}">
              IVR/USSD</label>
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15"></div>
          <div class="col-5">
        <label>ETC</label>
      </div>
          <div class="col-25">
        <input id="systemImpactEtc" name="systemImpactEtc" type="text" th:field="*{systemImpactEtc}">
      </div>
        </div>
    <h3>Load Test : User Conurrent</h3>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label>Impact Assessment(User ที่ใช้งานระบบ) </label>
      </div>
          <div class="col-25">
        <label>
              <input id="simpactAssessmentEx" name="impactAssessmentEx"  type="checkbox" th:field="*{impactAssessmentEx}">
              External Impacts(Extenal User)</label>
      </div>
          <div class="col-25">
        <label>
              <input id="simpactAssessmentIh" name="impactAssessmentIh"  type="checkbox" th:field="*{impactAssessmentIh}">
              Organization Impacts(In House)</label>
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label for="userConcurrent">User Concurrent
              <star>*</star>
            </label>
      </div>
          <div class="col-65">
        <input id="userConcurrent" name="userConcurrent" type="text" th:field="*{userConcurrent}">
      </div>
        </div>
    <h3>Load Test : Scenario</h3>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label>Test Scenarios</label>
      </div>
          <div class="col-15">
        <label>
              <input id="loadTestTypeLoadTest" name="loadTestTypeLoadTest"  type="checkbox" th:field="*{loadTestTypeLoadTest}">
              Load Test</label>
      </div>
          <div class="col-15">
        <label>
              <input id="loadTestTypeStressTest" name="loadTestTypeStressTest"  type="checkbox" th:field="*{loadTestTypeStressTest}">
              Stress Test</label>
      </div>
          <div class="col-15">
        <label>
              <input id="loadTestTypeReliabilityTest" name="loadTestTypeReliabilityTest"  type="checkbox" th:field="*{loadTestTypeReliabilityTest}">
              Reeliabbility Test</label>
      </div>
        </div>
    <h3>Load Test : Date</h3>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label>On Test/Staging Deploy</label>
      </div>
          <div class="col-65">
        <input id="targetStartDate" name="targetStartDate" class="datepicker" data-date-format="mm/dd/yyyy" th:field="*{targetStartDate}"> dd/mm/yyyy
        <!--        <input id="onTest" name="onTest" type="text">--> 
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label>Traget Finish Date</label>
      </div>
          <div class="col-65"> 
        <!--        <input id="finishDate" name="finishDate" type="text">-->
        <input id="targetFinishDate" class="datepicker" data-date-format="mm/dd/yyyy" th:field="*{targetFinishDate}"> dd/mm/yyyy
      </div>
        </div>
    <div class="row">
          <div class="col-tab-10"></div>
          <div class="col-15">
        <label for="remark">Remark</label>
      </div>
          <div class="col-65">
        <textarea id="remark" name="remark" th:field="*{remark}" style="height:80px"></textarea>
      </div>
        </div>
    <div class="row">
          <input type="submit" value="Submit">
        </div>
  </form>
    </div>
<!--  footer -->
<div style="background-color:#f1f1f1;text-align:center;padding:10px;margin-top:7px;font-size:12px;">
      <div>
    <h3> contact us </h3>
    <div> Email : nattapoo@ais.co.th </div>
    <div> phone : 02-2222222 </div>
  </div>
    </div>
</body>
</html>