<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>Form</title>
	<link rel="stylesheet" type="text/css" href="css/menu-bar-css.css" th:href="@{/css/menu-bar-css.css}">
</head>
<body style="font-family:Verdana;">
<div class="Banner" style="background-color:#f1f1f1;padding:15px;">
	<h1>Banner web</h1>
</div>
<div style="overflow:auto">
	<ul>
		<li><a href="/form">Form</a></li>
		<li><a href="/searchCase">All Case</a></li>
		<li><a href="#">Report</a></li>
	</ul><h2>index</h2>
</div>
<div style="background-color:#f1f1f1;text-align:center;padding:10px;margin-top:7px;font-size:12px;">
	<div>
		<h3> contact us </h3>
		<div> Email : nattapoo@ais.co.th </div>
		<div> phone : 02-2222222 </div>
	</div>
</div>
<script>
w3IncludeHTML();
</script>
</body>
</html>
