<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Index</title>
	<div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
</head>
<body style="font-family:Verdana;">
<!--  Banner -->
<div th:replace="fragments/banner :: .banner"> menu Bar</div>
<!--  menu -->
<div th:replace="fragments/menuBar :: menuBar('index')">menuBar</div>
	<h2>index [[${#httpServletRequest.remoteUser}]]</h2>
</div>
<!--  footer -->
<div th:replace="fragments/footer :: .footer"> menu Bar</div>
</body>
</html>
