<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <link rel="stylesheet" type="text/css" href="css/table-case-css.css" th:href="@{/css/table-case-css.css}">
</head>
<body style="font-family:Verdana;">
<div th:replace="fragments/banner :: .banner">Banner</div>
<form th:action="@{/register}" method="post" th:object="${userWeb}">
    <div class="row" >
        <div class="col-tab-35"></div>
        <div class="col-30">
            <div ><label> User Name :</label></div>
            <text-error class="text-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
        </div>
    </div>
    <div class="row" >
        <div class="col-tab-35"></div>
        <div class="col-30">
            <div ><input type="text" name="username"/></div>
        </div>
    </div>
    <div class="row">
        <div class="col-tab-35"></div>
        <div class="col-30">
            <div><label> Password:</label></div>
            <text-error class="text-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-tab-35"></div>
        <div class="col-30">
            <div><input type="password" name="password"/></div>
        </div>
    </div>
    <div class="row">
        <div class="col-tab-35"></div>
        <div class="col-30">
            <div><label> First Name:</label></div>
        </div>
    </div>
    <div class="row">
        <div class="col-tab-35"></div>
        <div class="col-30">
            <div><input type="text" name="firstName"/></div>
        </div>
    </div>
    <div class="row">
        <div class="col-tab-35"></div>
        <div class="col-30">
            <div><label> Last Name: </label></div>
        </div>
    </div>
    <div class="row">
        <div class="col-tab-35"></div>
        <div class="col-30">
            <div><input type="text" WIDTH="100%" name="lastName"/></div>
        </div>
    </div>
    <div class="row">
        <div class="col-tab-35"></div>
        <div class="col-30">
            <div><label> Department:</label></div>
            <text-error class="text-error" th:if="${#fields.hasErrors('department')}" th:errors="*{department}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-tab-35"></div>
        <div class="col-30">
            <div><input type="text" name="department"/></div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-tab-10"></div>
        <div class="col-10">
        <button align="left" class="buttonGreen width-100" type="button" onclick="location.href='./login'">Back</button>
        </div>
        <div class="col-tab-60"></div>
        <div class="col-10">
        <input align="right" class="buttonGreen width-100"  type="submit" value="Register"/>
        </div>
    </div>
    <p>
        <h3>

        </h3>
    </p>
</form>
<div th:replace="fragments/footer :: .footer"> menu Bar</div>
</body>
</html>