<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Case</title>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <link rel="stylesheet" type="text/css" href="css/table-case-css.css" th:href="@{/css/table-case-css.css}">
</head>
<body style="font-family:Verdana;">
<!--  Banner -->
<div th:replace="fragments/banner :: .banner"> menu Bar</div>
<!--  menu -->
<div th:replace="fragments/menuBar :: menuBar('searchCase',${role}== null ? '' : *{role})">menuBar</div>
<div class="search-case">
    <form method="post" action="/searchCase#" th:action="@{/searchCase}" th:object="${requestForm}">
        <div class="row">
            <div class="col-tab-10"></div>
            <div class="col-10">
                <label th:text="#{label.search}">Search</label>
            </div>
        </div>
        <div class="row">
            <div class="col-tab-10"></div>
            <div class="col-10">
                <label th:text="#{label.projectId}">Project ID</label>
            </div>
            <div class="col-25">
                <input type="text" id="pId" name="projectId">
            </div>
        </div>
        <div class="row">
            <div class="col-tab-10"></div>
            <div class="col-10">
                <label th:text="#{label.projectName}">Project Name</label>
            </div>
            <div class="col-25">
                <input type="text" id="pName" name="projectName">
            </div>
        </div>
        <div class="row">
            <div class="col-tab-10"></div>
            <div class="col-10">
                <label th:text="#{label.contact}">Contact</label>
            </div>
            <div class="col-25">
                <input type="text" id="contact" name="contact">
            </div>
        </div>
        <div class="row">
            <div class="col-tab-10"></div>
            <div class="col-tab-10"></div>
            <div class="col-10">
                <button class="button" type="submit" value="Submit">Search</button>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <h2>Search Case </h2>
    <h5 th:text="${#lists.size(caseList)+ 'ทั้งหมด'}">ทั้งหมด</h5>
    <table id="table-case">
        <tr>
            <th th:text="#{label.projectId}">Project Id</th>
            <th th:text="#{label.projectName}">Project Name</th>
            <th th:text="#{label.contact}">Contact</th>
            <th th:text="#{label.status}">Status</th>
            <th th:text="#{label.user}">User</th>
        </tr>
        <tr th:each="case : ${caseList}">
            <td><a th:text="${case.projectId}" th:href="${'/form/formView/' + case.id}"></a></td>
            <td><a th:text="${case.projectName}" th:href="${'/form/formView/' + case.id}"></a></td>
            <td><a th:text="${case.contact}" th:href="${'/form/formView/' + case.id}"></a></td>
            <td><a th:text="${case.statusRequest}" th:href="${'/form/formView/' + case.id}"></a></td>
            <td><a th:text="${case.createByUser.username}" th:href="${'/form/formView/'+case.id}"></a></td>
        </tr>
    </table>
</div>
<!--  footer -->
<div th:replace="fragments/footer :: .footer"> menu Bar</div>
<script>
</script>
</body>
</html>
