<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Form</title>
<script src="./jquery-3.3.1.js"></script>
<link rel="stylesheet" type="text/css" href="./Form-css.css">
<link rel="stylesheet" type="text/css" href="./vertical-menu-css.css">
	<link rel="stylesheet" type="text/css" href="./table-case-css.css">
</head>
<body style="font-family:Verdana;">
<div class="Banner" style="background-color:#f1f1f1;padding:15px;">
  <h1>Banner web</h1>
</div>
<div style="overflow:auto">
  <div class="vertical-menu"> <a href="/form">Form</a> <a href="/search-case" class="active">All Case</a> <a href="#">Report</a> </div>
	<div class="search-case">
		
		<form>
		<h3> Search </h3>	
			<div>
				Project ID :
				<input type="text">
			</div> 
				<div>
				Project Name :
				<input type="text">
			</div> 
				<div>
					contact  :
				<input type="text">
			</div> 
		</form>
	</div>
  <div class="main">
    <h2>All case</h2>
    <table id="table-case">
      <tr>
        <th>Project Id</th>
        <th>Project Name</th>
          <th>Contact</th>
      </tr>
        <tr th:each="case : ${caseList}">
        <td><a th:text="${case.projectId}" th:href="${'/form/' + case.id}"></a></td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
      </tr>
    </table>
  </div>
</div>
<div style="background-color:#f1f1f1;text-align:center;padding:10px;margin-top:7px;font-size:12px;">
  <div>
    <h3> contact us </h3>
    <div> Email : nattapoo@ais.co.th </div>
    <div> phone : 02-2222222 </div>
  </div>
</div>
<script>
w3IncludeHTML();
</script>
</body>
</html>
